#contenedor {
  font-size: 1.5em;
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid darkgray;

  .application, .abstraction {
    border-radius: .3em;
    padding: .3em;
    background: #80808020;
    display: inline-block;
  }

  .application {
    .function {
      margin-right: .3em;
    }
  }

  .abstraction {
    cursor: pointer;

    &.hovered {
      background: lightgreen;
    }

    & > .parameter::before {
      content: 'λ';
    }

    & > .parameter::after {
      content: '.';
    }
  }

  /*
  .application > .function > .abstraction,
  .application > .argument > .application {
      border-left: 1px solid black;
      border-right: 1px solid black;
  }
  */

  .application > .function > .application > .argument > .abstraction::before,
  .application > .function > .abstraction::before,
  .application > .argument > .application::before {
    content: '(';
  }

  .application > .function > .application > .argument > .abstraction::after,
  .application > .function > .abstraction::after,
  .application > .argument > .application::after {
    content: ')';
  }

  .hole {
    background: orange;
    content: ' ';
    width: .7em;
    height: .7em;
    cursor: pointer;

    &.hovered {
      background-color: yellow;
    }
  }

  // Override from 10Pines blog styles
  .hidden {
    display: none;
    visibility: visible;
    position: initial;
    text-indent: 0;
  }

  .hole,
  .actions-container {
    display: inline-block;
    position: relative;

    .actions {
      display: block;
      transition-duration: .5s;

      & > span {
        position: absolute;
        display: inline-block;
        background: red;
        border-radius: .6em;
        height: 1.2em;
        width: 1.2em;
        text-align: center;

        cursor: pointer;
        transition-duration: .2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  span {
    .actions {
      transform: translateY(10px);
      opacity: 1;
      visibility: visible;
      &.hidden {
        transform: translateY(10px) translateX(-50px);
        opacity: 0;
        visibility: hidden;
      }
    }

    .delete {
      top: 0;
      left: -.3em;
      line-height: 1.3em;

      &::after {
        content: '×';
      }
    }
    .wrap-lambda {
      top: 0;
      left: 1em;
      line-height: 1em;

      &::after {
        content: 'λx.';
        font-size: .6em;
      }
    }
    .wrap-application-argument {
      top: 0;
      left: 2.3em;
      line-height: .9em;

      &::after {
        content: '(_ x)';
        font-size: .6em;
      }
    }
    .wrap-application-function {
      top: 0;
      left: 3.6em;
      line-height: .9em;

      &::after {
        content: '(f _)';
        font-size: .6em;
      }
    }
  }

  .hole {
    .actions {
      transform: translateY(10px) scale(1);
      &.hidden {
        transform: translateY(10px) scale(0);
      }
    }
    .insert-variable {
      right: 1em;
      bottom: -1.8em;

      &::after {
        content: 'x';
        line-height: 1.1em;
      }
    }

    .insert-abstraction {
      bottom: -2.2em;
      left: -.25em;

      &::after {
        content: 'λ';
        line-height: 1.2em;
      }
    }

    .insert-application {
      left: 1em;
      bottom: -1.8em;

      &::after {
        content: '()';
        font-size: .8em;
        line-height: 1.4em;
      }
    }
  }
}